body {
    margin: 0 !important;
    padding: 0;
}

.header {
    background-color: black;
    text-align: center;
    height: 200px;
    width: 100%;
    vertical-align: middle;
    padding-top: 20px;


}

h1 {
    color: white;
    font-size: 40px;
    vertical-align: middle;
}

.content {
    margin-top: 25px;
}

.item {
    border-radius: 15px;
    text-align: center;
    padding: 25px;
    box-shadow: 0 0 100px -5px black;
    margin-top: 25px;
    transition-duration: 1s;
}
.item:hover {
    box-shadow: 0 0 100px -5px red ;
}


.github {
    font-size: 50px !important;
    transition-duration: 0.2s;
}
.github:hover {
    color:cornflowerblue !important;
    text-decoration: none;
}
.github:active {
    text-decoration: none;
}
.github:visited {
    text-decoration: none;
    color: black;
}
.github:link {
    text-decoration: none;
    color: black;
}
.github:focus {
    text-decoration: none;
}

