.ax {
  font-weight: 700;
  color: white;
  font-family: Ubuntu; }

.it {
  font-weight: 300;
  color: darkorange;
  font-family: Ubuntu; }

#navbar {
  background-image: none;
  background-color: black;
  margin: 0; }
  #navbar .navbar-header > .navbar-brand {
    padding-left: 45px;
    font-size: 35px;
    display: table-cell;
    vertical-align: middle; }
    #navbar .navbar-header > .navbar-brand > span {
      display: table-cell;
      vertical-align: middle; }
  #navbar .navbar-collapse > .navbar-right {
    margin-right: 0; }
    #navbar .navbar-collapse > .navbar-right > li {
      margin-left: 20px; }
      #navbar .navbar-collapse > .navbar-right > li > a {
        display: table-cell;
        vertical-align: middle;
        font-weight: 500; }

.navbar-brand {
  line-height: 40px;
  height: 40px;
  margin-top: 8px; }

.header {
  background: URL("../img/image.png") repeat-y;
  background-color: black;
  background-size: 1400px;
  background-position-y: -116px; }
  .header > .container {
    padding-left: 24px; }
    .header > .container > .col-xs-12.col-md-8 {
      padding-top: 72px; }
      .header > .container > .col-xs-12.col-md-8 > h1 {
        font-size: 80px; }
      .header > .container > .col-xs-12.col-md-8 > h2 {
        font-family: Josefin Sans;
        margin-top: 18px;
        font-size: 37px;
        line-height: 41px;
        font-weight: 400; }
      .header > .container > .col-xs-12.col-md-8 > hr {
        margin-left: 5px;
        border: solid 1px white;
        width: 62px;
        float: left; }
      .header > .container > .col-xs-12.col-md-8 p {
        color: #87817d;
        float: left;
        width: 65%;
        font-size: 16px; }
    .header > .container > .col-xs-12.col-md-4 {
      margin: auto; }
      .header > .container > .col-xs-12.col-md-4 > div {
        padding: 15px;
        background-color: #f5f5f5; }
        .header > .container > .col-xs-12.col-md-4 > div > p {
          font-style: italic; }
      .header > .container > .col-xs-12.col-md-4 > p {
        background-color: #f5f5f5; }

.header-h2 {
  color: white; }

.btn-coustom {
  margin-left: 5px;
  margin-top: 8px;
  border: solid 2px white !important;
  -webkit-border-radius: 0;
          border-radius: 0;
  padding: 9px 30px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
  .btn-coustom:hover {
    text-decoration: none;
    border-color: darkorange;
    background-color: darkorange; }
  .btn-coustom > a {
    font-weight: 700;
    font-size: 15px;
    color: white; }

.header-form {
  background: white;
  padding-top: 10px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-left: -10px;
  margin-top: 40%; }

form > h4 {
  text-align: center;
  font-weight: 900;
  letter-spacing: 1px;
  padding-bottom: 25px; }
  form > h4 > span {
    color: darkorange; }

form.contact-us-form {
  margin-top: 80px;
  padding: 10px; }

.try-free-from {
  width: 70%;
  margin: 15px 50px;
  padding-bottom: 21px;
  border: none; }

.get-started {
  width: 100%;
  margin-top: 20px;
  border: none;
  color: white;
  background-color: #ff9b51;
  height: 53px;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px; }

.header-footer {
  margin-top: 138px;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 75px; }
  .header-footer h4 {
    font-family: Ubuntu;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7); }
  .header-footer p {
    color: rgba(0, 0, 0, 0.5); }
  .header-footer .col-lg-2 {
    margin-top: 20px;
    margin-left: -22px;
    margin-right: 22px; }
    .header-footer .col-lg-2 i {
      font-size: 46px;
      color: rgba(0, 0, 0, 0.1); }
    .header-footer .col-lg-2 a:first-child {
      margin-right: 25px; }
    .header-footer .col-lg-2:nth-child(2n-1) a:first-child {
      margin-right: 50px; }
  .header-footer .col-lg-1 i {
    margin-top: 20px;
    font-size: 46px;
    color: rgba(0, 0, 0, 0.1); }
  .header-footer .col-lg-1 a.rss {
    margin: 0; }

.header-footer-background {
  background-color: rgba(255, 255, 255, 0.45); }

@media screen and (min-width: 1401px) {
  .header {
    background: URL("../img/image.png") repeat-y;
    background-color: black;
    background-size: 1920px;
    background-position-y: -116px; } }
